.vs/
x64/*
!x64/Release/raylib.lib
Raylib/bin/x64/Release.DLL/raylib.pdb
Raylib/bin/x64/Release.DLL/raylib.lib
Raylib/bin/x64/Release.DLL/raylib.exp
Raylib/bin/x64/Release.DLL/raylib.dll
Raylib/bin/x64/Debug.DLL/raylib.pdb
Raylib/bin/x64/Debug.DLL/raylib.lib
Raylib/bin/x64/Debug.DLL/raylib.ilk
Raylib/bin/x64/Debug.DLL/raylib.exp
Raylib/bin/x64/Debug.DLL/raylib.dll
bin/x64/Debug/SpaceInvaders.exe
bin/x64/Debug/SpaceInvaders.pdb
SpaceInvaders/x64/Debug/Game.obj
SpaceInvaders/x64/Debug/main.obj
SpaceInvaders/x64/Debug/SpaceInvaders.exe.recipe
SpaceInvaders/x64/Debug/SpaceInvaders.ilk
SpaceInvaders/x64/Debug/SpaceInvaders.log
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/CL.command.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/CL.read.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/CL.write.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/link.command.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/link.read.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/link.write.1.tlog
SpaceInvaders/x64/Debug/SpaceInvaders.tlog/SpaceInvaders.lastbuildstate
SpaceInvaders/x64/Debug/vc143.idb
SpaceInvaders/x64/Debug/vc143.pdb
